<h1><%= title %></h1>
<ul>
<% items.forEach(function(item){ %>
  <li><%= item.number %></li>
  <li><%= item.mail %></li>
  <li><%= item.name %></li>
  <li><%= item.date %></li>
  <li><%= item.id %></li>
  <li><%= item.body %></li>
  <br>
<% }) %>
</ul>
