<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
	    <li><a href="./">検索</a></li>
  	    <li><a href="#">リンク2</a></li>
  	    <li><a href="#">リンク3</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
    <% include form %>
    <h1><%= title %></h1>
    <% 
        /* bodyのキーワード強調 */
        keyword = query.body;
        replace_keyword = '<font color="red">'+keyword+'</font>';
        //replace_keyword = '<em>'+keyword+'</em>';
        reg = new RegExp(keyword,'gi');
    %>

    <%
        //見つかった件数チェック
        if( items.length == 0 ){
    %>
            <% include nothing %>
    <%
        }
        //表示する件数があるとき
        else{
    %>

    <% include pager %>
    <% items.forEach(function(item){ %>
    <table>
        <tbody>
        <tr> <td><%= item.number %>&nbsp;<%= item.mail %>&nbsp;<%= item.name %></td> </tr>
        <tr> <td><%= item.date %>&nbsp; <%= item.id %></td> </tr>
        <% if(  keyword != ""){ %>
            <tr> <td><%- item.body.replace(reg, replace_keyword) %></td> </tr>
        <% }else{ %> 
            <tr> <td><%- item.body %></td> </tr>
        <% } %> 
        </tbody>
    </table>
    <hr>
    <% }) %>
    <% include pager %>
</div>
<% } %>
